 @media(min-width:890px){
      .main_container{
        width: 60%;
        margin: auto; 
        align-self: center; 
        
      } 

    

      .discourse_container{
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      /* .discourse_icon{
        align-self: center;
        margin: auto; 
        flex=0;
      } */
} 
@media(max-width:890px){
        .main_container{
          width: 90%;
          margin: auto; 
          align-self: center; 
        }

        .discourse_container{
          height: 100px;
          width: 100%;
          
        }
        .sub_container1{
          visibility: hidden;
        }

        .bottom_bar{
          visibility: hidden;
        }

        

  }

      


.dis_icon{
  height: 55px;
  margin: 5px;
}

.discourse_icon{
  flex:1;
}

.discourse_bar{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.pricing{
  font-weight: 600;
}

.flex1{
  flex: 1;
  align-self: center;
  /* margin: 4px; */
  margin: auto;
}
.demo_bar{
  display: flex;
  flex-direction: row;
  height: 60px;
  background-image: linear-gradient(to right,#c2e6d2, #e2e7a4);
}

.demo_b{
  padding: 11px;
  flex:6;
}

.b_b{
  align-self: center;
  flex: 1;
  /* float: right; */
  margin: auto;
}

.tt1{
  border-radius: 50%;
  height: 35px;;
}

.h3{
  font-weight: 600;
}

.topic-down-text{
  color: #848484;
  font-weight: 900;
  align-self: centre;
}

.topic-image{
  height: 8px;
  width: 8px;
  margin: 5px;
  margin-top:7px;
}

.flex-container{
  display: flex;
  flex-direction: row;
}

.topic-image1{
  background-color: green;
}

.sub_container{
  width: 75%;
}

.sub_container1{
  width: 75%;
}



.sub_container_top{
  display: flex;
  flex-direction: row;
}



.user{
  flex:1;
}

.sub_name{
  flex:12;
  margin: 5px;
  color: #848484;
  font-weight: 900;
}

.left{
  display: flex;
  flex-direction:row;
  flex:10;
}

.sub_container_top_right{
  flex:2;
  color: #848484;
  font-weight: 900;
  display: flex;
  flex-direction: row;
}

.one{
  flex:1;
}

.pencil{
  flex:1;
}

.date{
  flex:1;
}

.sub_container_body{
  margin: 4px;
}

.sub_container_body_bottom{
  position: relative;
  color: #848484;
}

.flexicon1{
  /* flex:12; */
  position: absolute;
  right:180px;
}

.flexicon2{
  /* flex:12; */
  position: absolute;
  right:140px;
}
.flexicon3{
  /* flex:12; */
  position: absolute;
  right:120px;
}
.flexicon4{
  /* flex:12; */
  position: absolute;
  right:30px;
}

.bottom_bar{
  height: 65px;
  background-color:#f8f8f8;
  display: flex;
  flex-direction: row;
}

.created{
  /* flex:1; */
  color: #848484;
  font-weight: 900;
  margin-right: 5px;
}

.lastreply{
  color: #848484;
  font-weight: 900;
  /* flex:1; */
}

.replies{
  align-self: center;
  font-weight: 900;
  margin-right: 5px;
  /* flex:1; */
}

.four{
  margin-left:15px;
}

.views{
  align-self: center;
  font-weight: 900;
  margin-right: 5px;
  /* flex:1; */
}

.users{
  align-self: center;
  font-weight: 900;
  margin-right: 5px;
}

.icons{
  align-self: center;

}

.tt2{
  border-radius: 50%;
  height: 35px;
  margin: 5px;
}

#editor-container{
  height: 200px;
}

.bottom_line{
  height: 65px;
  display: flex;
  flex-direction: row;
}

.reply{
  background:#ffffff;
  color: #ccc;
  width: 80px;
  margin: 4px;
  height: 30px;
  align-self: center;
}

.cancel{
  align-self: center;
}